:root {
  --color-base-100: #f5f5f5;
  --color-base-200: #bfbfbf;
  --color-base-300: #a3a3a3;
  --color-base-400: #737373;
  --color-base-500: #474747;
  --color-base-600: #333333;
  --color-base-700: #262626;
  --color-base-800: #171717;
  --color-accent: #29a35c;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 4vh 24px 6vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 80px;
  align-items: center;
  background-color: var(--color-base-800);
  color: var(--color-base-100);
  font-family: "GT Flexa", system-ui, ui-sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#board {
  width: 100%;
  max-width: 640px;
  aspect-ratio: 1;
  position: relative;
  overflow: visible;
  transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
  grid-row: 2;
  margin: 0 auto;
  margin-top: calc(2vh + 32px);
}

.letter {
  width: 17.5%;
  aspect-ratio: 1;
  position: absolute;
  left: calc(var(--col) * 20.625% + var(--nudge-x, 0px));
  top: calc(var(--row) * 20.625% + var(--nudge-y, 0px));
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--color-base-700);
  border-radius: 0.375em;
  font-size: min(72px, 10vw);
  cursor: move;
  user-select: none;
  transition: all 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

.letter.solved {
  background-color: var(--color-accent);
  animation: jump 400ms cubic-bezier(0.65, 0, 0.35, 1);
  animation-delay: calc((var(--col) + 1) * 50ms);
}

@keyframes jump {
  50% {
    transform: translateY(-0.125em);
  }
}
