@font-face {
  font-family: "GT Flexa";
  font-weight: 400;
  font-style: normal;
  src: url("/GT-Flexa-Standard-Regular.woff2") format("woff2");
}

:root {
  --color-base-100: #f5f5f5;
  --color-base-200: #bfbfbf;
  --color-base-300: #a3a3a3;
  --color-base-400: #737373;
  --color-base-500: #474747;
  --color-base-600: #333333;
  --color-base-700: #262626;
  --color-base-800: #171717;
  --color-accent: #29a35c;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 4vh 24px 6vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 80px;
  align-items: center;
  background-color: var(--color-base-800);
  color: var(--color-base-100);
  font-family: "GT Flexa", system-ui, ui-sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  height: 48px;
  min-width: 224px;
  padding: 0 20px;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-100);
  border-radius: 24px;
  color: var(--color-base-800);
  font-size: 18px;
  transition: all 250ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.logo svg {
  height: 36px;
  color: var(--color-base-100);
  margin-bottom: 4px;
}

.icon {
  width: 24px;
  color: var(--color-base-400);
  transition: color 250ms linear;
}

.icon-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: background-color 250ms linear;
}

.board {
  width: 100%;
  max-width: 640px;
  aspect-ratio: 1;
  position: relative;
  overflow: visible;
  transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
  grid-row: 2;
  margin: 0 auto;
  margin-top: calc(2vh + 32px);
}

.board.blurred {
  filter: blur(min(2.5vw, 16px));
  transform: translate3d(0, 0, 0) scale(0.95);
}

.letter {
  width: 17.5%;
  aspect-ratio: 1;
  position: absolute;
  left: calc(var(--col) * 20.625% + var(--nudge-x, 0px));
  top: calc(var(--row) * 20.625% + var(--nudge-y, 0px));
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--color-base-700);
  border-radius: 0.375em;
  font-size: min(72px, 10vw);
  cursor: move;
  user-select: none;
  transition: all 250ms cubic-bezier(0.61, 1, 0.88, 1);
}

.letter.solved {
  background-color: var(--color-accent);
  animation: jump 400ms cubic-bezier(0.65, 0, 0.35, 1);
  animation-delay: calc((var(--col) + 1) * 50ms);
}

.clock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-row: 3;
  grid-column: 1;
  transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
  transition-delay: 250ms;
}

.clock.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(calc(100% + 6vh));
  transition-delay: 1000ms;
}

.clock.paused .clock-icon-pause,
.clock:not(.paused) .clock-icon-play {
  display: none;
}

.clock-button {
  height: 40px;
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--color-base-700);
  color: var(--color-base-100);
  font-variant-numeric: tabular-nums;
  border-radius: 20px;
}

.start {
  width: 100%;
  grid-row: 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: var(--color-base-400);
  position: relative;
  z-index: 20;
  box-shadow: 0 0 30vh 30vh var(--color-base-800);
  transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
  transition-delay: 1000ms;
}

.start.hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
  box-shadow: 0 0 0 0 var(--color-base-800);
  transform: translateY(calc(100% + 6vh));
  transition-delay: 0ms;
}

.dialog {
  width: 100%;
  max-width: 480px;
  padding: 20px 20px 32px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  color: var(--color-base-100);
  background-color: var(--color-base-700);
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 0 100vmax rgba(10, 10, 10, 0.75);
  border: none;
  outline: none;
  transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.dialog:not([open]) {
  display: block;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
  box-shadow: 0 0 0 100vmax transparent;
}

.dialog::backdrop {
  display: none;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dialog-title {
  font-size: 24px;
}

.dialog-button {
  margin: 32px auto 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 12px;
  background-color: var(--color-base-600);
  border-radius: 8px;
}

.stat-title {
  font-size: 14px;
  color: var(--color-base-300);
  line-height: 1.15;
}

.stat-value {
  font-size: 24px;
}

@keyframes jump {
  50% {
    transform: translateY(-0.125em);
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color-base-200);
    border-color: var(--color-base-200);
  }

  .icon-button:hover {
    background-color: var(--color-base-600);
  }

  .icon-button:hover svg {
    color: var(--color-base-300);
  }
}

@media (min-width: 640px) {
  .dialog {
    max-width: 480px;
    top: 0;
    border-radius: 16px;
  }

  .dialog:not([open]) {
    transform: translateY(20px);
    opacity: 0;
  }
}
